* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-area {
    width: 240px;
    height: 500px;
    padding: 16px 12px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 12px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 48px;
}

.display-area, .expression-area {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 5px;
    text-align: right;
    color: #100D08;
    font-size: 38px;
}

.expression-area {
    color: #373737;
    font-size: 24px;
}

.section-area {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button {
    cursor: pointer;
    width: 52px;
    padding: 14px 0;
    border-style: none;
    border-radius: 100px;
    color: #fff;
    background-color: #66b2ff;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

button:hover {
    background-color: #3399ff;
}

button:active {
    background-color: #0080ff;
}

button.unique {
    background-color: #ff6666;
}

button.unique:hover {
    background-color: #ff3333;
}

button.unique:active {
    background-color: #ff0000;
}

@media (max-width: 768px) {
    button {
        transition: background-color 1s ease;
    }

    button:hover {
        background-color: #66b2ff;
    }
    
    button:active {
        background-color: #0080ff;
    }

    button.unique:hover {
        background-color: #ff6666;
    }
    
    button.unique:active {
        background-color: #ff0000;
    }
}
